.main {
    height: calc(
        100dvh - 3.5rem -
            calc(
                var(--tg-content-safe-area-inset-top) +
                    var(--tg-safe-area-inset-top)
            ) -
            var(--tg-safe-area-inset-bottom)
    );
    margin-top: calc(
        4rem + var(--tg-content-safe-area-inset-top) +
            var(--tg-safe-area-inset-top)
    );
    /*calc(var(--tg-viewport-content-safe-area-inset-top) + 12%)*/
    margin-bottom: var(--tg-safe-area-inset-bottom);
}
