@import 'tailwindcss';

@import './color.css';
@import './font.css';
@import './text.css';

:root {
  --inset-top: calc(
    var(--tg-viewport-safe-area-inset-top, 0px) +
      var(--tg-viewport-content-safe-area-inset-top)
  );
  --inset-bottom: calc(
    var(--tg-viewport-safe-area-inset-bottom, 0px) +
      var(--tg-viewport-content-safe-area-inset-bottom)
  );
  --inset-left: calc(
    var(--tg-viewport-safe-area-inset-left, 0px) +
      var(--tg-viewport-content-safe-area-inset-left)
  );
  --inset-right: calc(
    var(--tg-viewport-safe-area-inset-right, 0px) +
      var(--tg-viewport-content-safe-area-inset-right)
  );
}

body {
  background: var(--tg-theme-secondary-bg-color, #181818);
  height: 100vh;
  overflow: hidden;
}

#app {
  height: 100%;
  overflow-y: scroll;
  padding-top: var(--inset-top);
  padding-bottom: var(--inset-bottom);
  padding-left: var(--inset-left);
  padding-right: var(--inset-right);
}

::-webkit-scrollbar {
  display: none;
}

input[type='time']::-webkit-calendar-picker-indicator,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}

.tgui-56b2e897ed7ccb22 > .tgui-8ca550c2fc85eff5 {
  padding: 0;
  background: transparent;
}

.tgui-7707c5d942b7b9af .tgui-0f5050defacbf813 {
  background: var(--tg-theme-section-bg-color);
}

.full-height {
  min-height: calc(100dvh - var(--inset-top) - var(--inset-bottom));
}

.full-height-with-header {
  min-height: calc(100dvh - var(--inset-top) - var(--inset-bottom) - 60px);
}
